TextField {
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    -unity-font-style: normal;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    -unity-text-align: middle-left;
}

TextField Label {
    max-width: 50px;
    min-width: 40px;
}
